$navy: #04142c;
$midnight: #030a18;
$navy-36: rgba(4, 20, 44, 0.36);
$navy-25: rgba(4, 20, 44, 0.25);
$perrywinkle: #86a0d9;
$ice-blue: #ecf2f7;
$pale-teal: #86d9b6;
$ice: #ecf7f1;
$brown-grey: #939393;
$very-light-pink: #efefef;
$constellation-card-bg: linear-gradient(180deg, #04142C 0%, #030A18 100%);
