$navy: hsl(216, 83%, 9%);
$midnight: hsl(220, 78%, 5%);
$navy-76: hsla(216, 83%, 9%, 0.76);
$navy-36: hsla(216, 83%, 9%, 0.36);
$navy-25: hsla(216, 83%, 9%, 0.25);
$perrywinkle: hsl(221, 52%, 69%);
$ice-blue: hsl(207, 41%, 95%);
$pale-teal: hsl(155, 52%, 69%);
$ice: hsl(147, 41%, 95%);
$brown-grey: hsl(0, 0%, 58%);
$grey: hsl(218, 10%, 68%);
$grey-76: hsla(0, 0%, 90%, 0.76);
$very-light-pink: hsl(0, 0%, 94%);
$constellation-card-bg: linear-gradient(180deg, $navy 0%, $midnight 100%);
