$navy: #04142c;
$midnight: #030a18;
$navy-36: rgba(4, 20, 44, 0.36);
$navy-25: rgba(4, 20, 44, 0.25);
$perrywinkle: #86a0d9;
$ice-blue: #ecf2f7;
$pale-teal: #86d9b6;
$ice: #ecf7f1;
$brown-grey: #939393;
$very-light-pink: #efefef;
$constellation-card-bg: linear-gradient(to bottom, #000000, $navy, 
    #04132a 10%, #041228 20%, #041126 30%, #041024 40%, 
    #040f22 50%, #040e20 60%, #040d1e 70%, #030c1c 80%, 
    #030b1a 90%, $midnight, #000000);
