@import "colors";

.Stelo-Logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 104px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: $navy;
}

.Text-Style-9 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.Text-Style-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: $navy;
}

.Catchphrase {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: $navy-36;
}

.Text-Style-8 {
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #393939;
}

.Text-Style-6 {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: 0.38px;
  text-align: left;
  color: #ffffff;
}

.Text-Style-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: rgba(4, 20, 44, 0.76);
}

.Text-Style-3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: $navy-25;
}

.Text-Style-10 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: rgba(229, 229, 229, 0.76);
}

.Text-Style-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.18;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
}